In [61]:
import pandas as pd
import seaborn as sns
import numpy as np
import cv2

import matplotlib.pyplot as plt
%matplotlib inline

# 1) Natural Dance

## Load data and video

In [62]:
# load video and track
video_path = "data_robobee/tmp_without_videos/natural_dances/2008_08_21-1115_1/video/21_08_2008-1115-SINGLE.raw.avi"
dance_track_path = "data_robobee/tmp_without_videos/natural_dances/2008_08_21-1115_1/trajectories/dancer.raw"
follower_track_path = "data_robobee/tmp_without_videos/natural_dances/2008_08_21-1115_1/trajectories/followers.raw"
waggle_indices = "data_robobee/tmp_without_videos/natural_dances/2008_08_21-1115_1/video/I.csv"

dancer_track = pd.read_csv(dance_track_path, skiprows=[0], header=None, delim_whitespace=True)
follower_track = pd.read_csv(follower_track_path, skiprows=[0], header=None, delim_whitespace=True)
waggles = pd.read_csv(waggle_indices, header=None)
cap = cv2.VideoCapture(video_path)

In [63]:
cap, print(cap.get(cv2.CAP_PROP_FRAME_COUNT)) # total frames in video

6689.0

(<VideoCapture 0x7f85c6080f30>, None)

In [64]:
dancer_track.head()

   0      1      2     3      4     5
0  1  269.0  218.0  44.0  109.0 -6.25
1  2  269.0  218.0  44.0  109.0 -6.25
2  3  269.0  217.5  44.0  109.0 -6.25
3  4  269.0  217.5  44.0  109.0 -6.25
4  5  269.0  217.7  44.0  109.0 -6.23

In [65]:
follower_track.head()

      0      1      2     3      4     5
0  2145  156.0  261.0  37.7  103.5 -1.33
1  2146    NaN    NaN   NaN    NaN   NaN
2  2147    NaN    NaN   NaN    NaN   NaN
3  2148    NaN    NaN   NaN    NaN   NaN
4  2149    NaN    NaN   NaN    NaN   NaN

In [66]:
waggles.head()

       0      1
0  23850  24420
1  25960  26560
2  28581  29131
3  31000  31560
4  33310  33910

In [67]:
waggle_ranges = waggles.values

In [68]:
waggle_ranges = np.rint(waggle_ranges/10)
waggle_ranges

array([[2385., 2442.],
       [2596., 2656.],
       [2858., 2913.],
       [3100., 3156.],
       [3331., 3391.],
       [3647., 3675.],
       [3947., 3966.],
       [4260., 4271.],
       [4479., 4516.],
       [4871., 4901.],
       [5117., 5165.],
       [5383., 5441.],
       [5750., 5794.]])

In [69]:
waggle_list = [i for array in waggle_ranges for i in range(int(array[0]),int(array[1]+1))]

### Plot

In [70]:
cap = cv2.VideoCapture(video_path)
font = cv2.FONT_HERSHEY_SIMPLEX

if (cap.isOpened()== False): 
    print("Error opening video stream or file")
    
current_frame = 0
while(cap.isOpened()):
    ret, frame = cap.read()
    
    f = int(dancer_track.iloc[current_frame][0])
    x = int(dancer_track.iloc[current_frame][1])
    y = int(dancer_track.iloc[current_frame][2])
    
    cv2.putText(frame,'Frame='+str(current_frame),(400,100), font, 1,(255,255,255),2,cv2.LINE_AA)
    
    
    if f in waggle_list:
        cv2.circle(frame, (x,y), 10, (255,255,0)) #yellow
        cv2.putText(frame,'Waggle',(400,150), font, 1,(255,255,0),2,cv2.LINE_AA)
    else:
        cv2.circle(frame, (x,y), 10, (255,0,0)) #blue
        cv2.putText(frame,'Normal',(400,150), font, 1,(255,0,0),2,cv2.LINE_AA)
        
    
    cv2.imshow('Frame', frame)

    if cv2.waitKey(1) & 0xFF == ord('q'):
        break
    current_frame += 1

cap.release()
cv2.destroyAllWindows()

### Schlussfolgerung: in I stehen die mit 10 multiplizierten Indizes.

# 2) Robotic Dance

Ich kann nicht die upgesampleted Daten plotten, da diese nicht Pixel, sondern cm haben.

In [72]:
# load video and track
video_path = "data_robobee/tmp_without_videos/robotic_dances/2011-08-31_13-38-25/video/original.avi"
dance_track_path = "data_robobee/tmp_without_videos/robotic_dances/2011-08-31_13-38-25/trajectories/robot.raw"
follower_track_path = "data_robobee/tmp_without_videos/robotic_dances/2011-08-31_13-38-25/trajectories/followers.raw"
waggle_indices = "data_robobee/tmp_without_videos/robotic_dances/2011-08-31_13-38-25/video/I.csv"

dancer_track = pd.read_csv(dance_track_path, skiprows=[0], header=None, delim_whitespace=True)
follower_track = pd.read_csv(follower_track_path, skiprows=[0], header=None, delim_whitespace=True)
waggles = pd.read_csv(waggle_indices, header=None)
cap = cv2.VideoCapture(video_path)

In [73]:
dancer_track.head()

       0   1   2   3   4   5
0  23212 NaN NaN NaN NaN NaN
1  23213 NaN NaN NaN NaN NaN
2  23214 NaN NaN NaN NaN NaN
3  23215 NaN NaN NaN NaN NaN
4  23216 NaN NaN NaN NaN NaN

In [74]:
# datenfehler in zeile 915: daten fehlen!

In [75]:
cap, print(cap.get(cv2.CAP_PROP_FRAME_COUNT)) # total frames in video

27755.0

(<VideoCapture 0x7f85c0150af0>, None)

In [76]:
# remove the rows with NaN
dancer_track = dancer_track.dropna(subset=[1])

In [77]:
# let row indices start by 0 again
dancer_track = dancer_track.reset_index(drop=True)

In [78]:
dancer_track.tail()

         0      1      2     3     4     5
261  24771  267.7  357.1  23.9  50.8  2.18
262  24782  273.0  364.0  23.9  50.8  2.17
263  24793  271.2  363.7  23.9  50.8  2.21
264  24804  274.0  360.4  23.9  50.8  2.16
265  24815  272.2  358.6  23.9  50.8  2.22

In [79]:
# start 10 frames before the data starts
start_frame = int(dancer_track.iloc[0][0]) - 10
end_frame = int(dancer_track.iloc[-1][0]) 

start_frame, end_frame

(23212, 24815)

In [80]:
waggles.head() # wie sollen diese indizes jemals in die range kommen, in der die videos sind?

       0      1
0  23306  23325
1  23468  23488
2  23640  23659
3  23794  23813
4  23947  23965

In [81]:
waggle_ranges = waggles.values
waggle_ranges = np.rint(waggle_ranges/10)

In [82]:
waggle_ranges = waggles.values
waggle_list = [i for array in waggle_ranges for i in range(int(array[0]),int(array[1]+1))]

In [83]:
waggle_list

[23306,
 23307,
 23308,
 23309,
 23310,
 23311,
 23312,
 23313,
 23314,
 23315,
 23316,
 23317,
 23318,
 23319,
 23320,
 23321,
 23322,
 23323,
 23324,
 23325,
 23468,
 23469,
 23470,
 23471,
 23472,
 23473,
 23474,
 23475,
 23476,
 23477,
 23478,
 23479,
 23480,
 23481,
 23482,
 23483,
 23484,
 23485,
 23486,
 23487,
 23488,
 23640,
 23641,
 23642,
 23643,
 23644,
 23645,
 23646,
 23647,
 23648,
 23649,
 23650,
 23651,
 23652,
 23653,
 23654,
 23655,
 23656,
 23657,
 23658,
 23659,
 23794,
 23795,
 23796,
 23797,
 23798,
 23799,
 23800,
 23801,
 23802,
 23803,
 23804,
 23805,
 23806,
 23807,
 23808,
 23809,
 23810,
 23811,
 23812,
 23813,
 23947,
 23948,
 23949,
 23950,
 23951,
 23952,
 23953,
 23954,
 23955,
 23956,
 23957,
 23958,
 23959,
 23960,
 23961,
 23962,
 23963,
 23964,
 23965,
 24081,
 24082,
 24083,
 24084,
 24085,
 24086,
 24087,
 24088,
 24089,
 24090,
 24091,
 24092,
 24093,
 24094,
 24095,
 24096,
 24097,
 24098,
 24099,
 24215,
 24216,
 24217,
 24218,
 24219,
 24220,
 24221,
 24222,
 24223,
 24224,
 24225,
 24226,
 24227,
 24228,
 24229,
 24230,
 24231,
 24232,
 24233,
 24234,
 24349,
 24350,
 24351,
 24352,
 24353,
 24354,
 24355,
 24356,
 24357,
 24358,
 24359,
 24360,
 24361,
 24362,
 24363,
 24364,
 24365,
 24366,
 24367,
 24368,
 24369,
 24484,
 24485,
 24486,
 24487,
 24488,
 24489,
 24490,
 24491,
 24492,
 24493,
 24494,
 24495,
 24496,
 24497,
 24498,
 24499,
 24500,
 24501,
 24502,
 24503,
 24618,
 24619,
 24620,
 24621,
 24622,
 24623,
 24624,
 24625,
 24626,
 24627,
 24628,
 24629,
 24630,
 24631,
 24632,
 24633,
 24634,
 24635,
 24636,
 24637,
 24638,
 24753,
 24754,
 24755,
 24756,
 24757,
 24758,
 24759,
 24760,
 24761,
 24762,
 24763,
 24764,
 24765,
 24766,
 24767,
 24768,
 24769,
 24770,
 24771,
 24772]

### Plot

In [84]:
import time # to display the video slower

In [85]:
cap = cv2.VideoCapture(video_path)
cap.set(1, start_frame)
font = cv2.FONT_HERSHEY_SIMPLEX

if (cap.isOpened()== False): 
    print("Error opening video stream or file")
    
current_frame = start_frame
df_index = 0
while(cap.isOpened()):
    
    time.sleep(0.005)
    ret, frame = cap.read()
    
    f = int(dancer_track.iloc[df_index][0])
    #print(f, current_frame)
    x = int(dancer_track.iloc[df_index][1])
    y = int(dancer_track.iloc[df_index][2])
    
    cv2.putText(frame,'Frame='+str(current_frame),(400,100), font, 1,(255,255,255),2,cv2.LINE_AA)
    
    if f == current_frame: # only plot when data is available
        
        df_index += 1
        
        #waggle
        if f in waggle_list:
            cv2.circle(frame, (x,y), 10, (255,255,0),5) #yellow
            cv2.putText(frame,'Waggle',(400,150), font, 1,(255,0,0),2,cv2.LINE_AA)
        else:
            cv2.circle(frame, (x,y), 10, (255,0,0),5) #blue
            cv2.putText(frame,'Normal',(400,150), font, 1,(255,0,0),2,cv2.LINE_AA)
    
    
    cv2.imshow('Frame', frame)
    current_frame += 1

    if cv2.waitKey(1) & 0xFF == ord('q'):
        break
        
    #if we reach end of data, we end the display
    if f == end_frame:
        break
        
    

cap.release()
cv2.destroyAllWindows()